[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/CppBase"]
	path = external/CppBase
	url = https://github.com/AMS21/CppBase.git
